// NAVIGATION, START
nav {
    section {
        padding-left: 5vh;
        h1 {
            font-size: 40px;
            padding-left: 2vh;
            
        }
    }
    
    ul { 
        display: flex;
        justify-content: center;
        width: 100%;
        justify-content: space-between;
    }

    li {
        display: flex;
        width: 100%;
        text-align: center;
        list-style: none;
    }

    a {
        text-transform: uppercase;
        width: 100%;
        padding:7%;
        font-size: 18px;
        text-decoration: none;
        color: $green_model3;
        transition: 0.4s;
    }

    a:hover {
        background-color: $green_model1;
        color: whitesmoke;
    }

    img {
        width: 10vh;
        height: 10vh;
    }

    h1 {
        font-size: 28px;
    }
    
    details {
        display: none;
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// PRODUCT, START
.product {
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    figure {
        width: 22%;
    }
    .button {
        margin-left: 10vh;
    }
}
// PRODUCT, END

