@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap');
$mobile_version : 200px;
$tablet_version : 600px;
$desktop_version : 1000px;
$green_model1: #283618;
$green_model2: #F5F5F5;
