// ABOUT: SECTION.FARM, START
.farm {
    h1 {
        font-size: 32px;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    p {
        padding-left: 5vh;
        padding-right: 5vh;
        font-size: 18px;
    }

    img {
        height: 40vh;
    }
}
// ABOUT: SECTION.FARM, END

// ABOUT: SECTION.INDUSTRY, START
.industry {
    h1 {
        font-size: 32px;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    p {
        padding-left: 5vh;
        padding-right: 5vh;
        font-size: 18px;
    }
}
// ABOUT: SECTION.INDUSTRY, END

// ABOUT: SECTION.MEDIA, START
.media {
    align-items: center;
    padding-bottom: 3vh;

    h1 {
        font-size: 32px;
        padding-top: 3vh;
    }
}
// ABOUT: SECTION.MEDIA, END