// NAVIGATION, START
nav {
    h1 {
        font-size: 30px;
    }

    details {
        summary {
            font-size: 30px;
        }
    
        ul {
            margin-top: 3.8vh;
        }
    }
} 

// NAVIGATION, END

// HEADER, START
header section {
    video {
        height: 35vh;
    }
}
// HEADER, END

// SECTION.COMPANY, START
.company {
    p {
        padding-left: 3vh;
        padding-right: 3vh;
        font-size: 20px;
    }
}
// SECTION.COMPANY, END

// SECTION.PRODUCT, START
.products {
    height: 35vh;

    a {
        font-size: 28px;
    }
}
// SECTION.PRODUCT, END

// SECTION.REVIEWS, START
.reviews {
    flex-direction: row;
    flex-wrap: wraprev;
}
// SECTION.REVIEWS, END