// NAVIGATION, START
nav {
    h1 {
        font-size: 30px;
    }
} 

details {
    summary {
        font-size: 30px;
    }

    ul {
        margin-top: 4vh;
    }
}
// NAVIGATION, END

// HEADER, START
header section {
    video {
        height: 35vh;
    }
}
// HEADER, END

// SECTION.COMPANY, START
.company {
    p {
        padding-left: 3vh;
        padding-right: 3vh;
        font-size: 20px;
    }
}
// SECTION.COMPANY, END