// NAVIGATION, START
nav {
    h1 {
        font-size: 36px;
    }

    details {
        summary {
            font-size: 36px;
        }
    
        ul {
            margin-top: 3.8vh;
        }
    }
} 

// NAVIGATION, END

// HEADER, START
header section {
    video {
        height: 35vh;
    }
}
// HEADER, END

// SECTION.COMPANY, START
.company {
    p {
        padding-left: 3vh;
        padding-right: 3vh;
        font-size: 20px;
    }
}
// SECTION.COMPANY, END

// SECTION.PRODUCT, START
.products {
    height: 35vh;

    a {
        font-size: 28px;
    }
}
// SECTION.PRODUCT, END

// SECTION.REVIEWS, START
.reviews {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    figure {
        width: 50%;
    }
}
// SECTION.REVIEWS, END

// SECTION.EMAIL, START
.email {
    height: 40vh;

    article {
        row-gap: 5vh;
        
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 22px;
        }

        a {
            font-size: 22px;
            padding: 2%;
        }
    }
}
// SECTION.EMAIL, END

// SECTION.CONTACT, START
.contact section > h1 {
    font-size: 28px;
    padding: 3vh;
}
.contact input {
    padding: 2%;
    font-size: 16px;
}

.contact [type="submit"] {
    padding: 2%;
    font-size: 20px;
}
// SECTION.CONTACT, END

// FOOTER, START
footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vh;
    padding-right: 4vh;
}
// FOOTER, END