@media (min-width:$mobile_version){

    header section {
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        video {
            height: 30vh;
        }
    }
    
    
}

